body {
    background-color: green;
    color: white;
    padding: 20px
}

main {
    display: flex;
    align-items: center;
    flex-flow: column;
    font-family: sans-serif;
}

section {
    text-align: left;
}

b {
    color: red
}